@page "{key}"
@model DeleteModel

@{
    ViewData["Title"] = $"Delete Persisted Grant";
}

<div class="row">
    <div class="col">
        <hr />
        <h2>
            <i class="fal fa-handshake"></i> @ViewData["Title"]
        </h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.PersistedGrant.Key)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PersistedGrant.Key)
            </dd>
        </dl>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            <input type="hidden" asp-for="PersistedGrant.Key" />
            <h4>
                <button type="submit" class="btn btn-danger" title="Delete Persisted Grant">
                    Delete
                </button> |
                <a asp-page="./Details/Index" asp-route-id="@Model.PersistedGrant.Key" title="Persisted Grant Details">
                    <i class="fal fa-info-square"></i> Details
                </a> |
                <a asp-page="./Index" title="Persisted Grants">
                    <i class="fal fa-list"></i> List
                </a>
            </h4>
        </form>
        <hr />
    </div>
</div>
