@page "{id:int}"
@using IdentityServer4.EntityFramework.Entities
@using Kendo.Mvc.UI
@model PropertiesModel

@{
    ViewData["Title"] = $"\"{Model.ApiResource.Name}\" Properties";
}

@(Html.Kendo().Grid(Model.Properties)
      .Name("propertiesGrid")
      .ToolBar(toolbar => toolbar.ClientTemplateId("propertiesToolbarTemplate"))
      .Columns(columns =>
      {
          columns.Bound(apiResourceProperty => apiResourceProperty.Key);
          columns.Bound(apiResourceProperty => apiResourceProperty.Value);
      })
      .Sortable(sort => sort.AllowUnsort(false))
      .Filterable(filterable => filterable.Mode(GridFilterMode.Menu))
      .Pageable(pageable => pageable.ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Sort(sort => sort.Add(nameof(ApiResourceProperty.Key)).Ascending())
          .PageSize(5)
          .ServerOperation(false)))
<hr />
<h4>
    <a asp-page="../Index" title="API Resources">
        <i class="fal fa-list"></i> List |
    </a>
    <a asp-page="../Edit/Properties" asp-route-id="@Model.ApiResource.Id" title="Edit API Resource Properties">
        <i class="fal fa-edit"></i> Edit
    </a> |
    <a asp-page="../Delete" asp-route-id="@Model.ApiResource.Id" title="Delete API Resource">
        <i class="fal fa-trash"></i> Delete
    </a>
</h4>
<hr />

@section Scripts {
    <script id="propertiesToolbarTemplate" type="text/x-kendo-template">
        <h4>
            <i class="fal fa-cog"></i> Properties
        </h4>
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
