@page "{id:int}"
@model IndexModel

@{
    ViewData["Title"] = $"Edit \"{Model.ApiResource.Name}\" Details";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ApiResource.Id" />
    <div class="row">
        <div class="col-12 col-md-6">
            <input asp-for="ApiResource.Enabled" class="k-checkbox" />
            <label asp-for="ApiResource.Enabled" class="k-checkbox-label font-weight-bold"></label>
        </div>
        <div class="col-12 col-md-6">
            <input asp-for="ApiResource.NonEditable" class="k-checkbox" />
            <label asp-for="ApiResource.NonEditable" class="k-checkbox-label font-weight-bold"></label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="ApiResource.Name" class="font-weight-bold"></label>
                <input asp-for="ApiResource.Name" class="form-control" required />
                <span asp-validation-for="ApiResource.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiResource.DisplayName" class="font-weight-bold">
                    Display Name
                </label>
                <input asp-for="ApiResource.DisplayName" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="ApiResource.Description" class="font-weight-bold"></label>
                <textarea asp-for="ApiResource.Description" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h4>
                <button type="submit" class="btn btn-primary" title="Save API Resource Details">
                    Save
                </button> |
                <a asp-page="../Details/Index" asp-route-id="@Model.ApiResource.Id" title="API Resource Details">
                    <i class="fal fa-info-square"></i> Details
                </a> |
                <a asp-page="../Index" title="API Resources">
                    <i class="fal fa-list"></i> List
                </a>
            </h4>
        </div>
    </div>
    <hr />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
