@page "{id:int}"
@using IdentityServer4.EntityFramework.Entities
@using Kendo.Mvc.UI
@model ScopesModel

@{
    ViewData["Title"] = $"\"{Model.Client.ClientName}\" Scopes";
}

@(Html.Kendo().Grid(Model.Scopes)
      .Name("scopesGrid")
      .ToolBar(toolbar => toolbar.ClientTemplateId("scopesToolbarTemplate"))
      .Columns(columns =>
      {
          columns.Bound(clientScope => clientScope.Scope);
      })
      .Sortable(sort => sort.AllowUnsort(false))
      .Filterable(filterable => filterable.Mode(GridFilterMode.Menu))
      .Pageable(pageable => pageable.ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Sort(sort => sort.Add(nameof(ClientScope.Scope)).Ascending())
          .PageSize(5)
          .ServerOperation(false)))
<hr />
<h4>
    <a asp-page="../Index" title="Clients">
        <i class="fal fa-list"></i> List |
    </a>
    <a asp-page="../Edit/Scopes" asp-route-id="@Model.Client.Id" title="Edit Client Scopes">
        <i class="fal fa-edit"></i> Edit
    </a> |
    <a asp-page="../Delete" asp-route-id="@Model.Client.Id" title="Delete Client">
        <i class="fal fa-trash"></i> Delete
    </a>
</h4>
<hr />

@section Scripts {
    <script id="scopesToolbarTemplate" type="text/x-kendo-template">
        <h4>
            <i class="fal fa-globe"></i> Scopes
        </h4>
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
