@page "{id:int}"
@using IdentityServer4.EntityFramework.Entities
@using Kendo.Mvc.UI
@model ClaimTypesModel

@{
    ViewData["Title"] = $"\"{Model.IdentityResource.Name}\" Claim Types";
}

@(Html.Kendo().Grid(Model.ClaimTypes)
      .Name("claimTypesGrid")
      .ToolBar(toolbar => toolbar.ClientTemplateId("claimTypesToolbarTemplate"))
      .Columns(columns => columns.Bound(identityResourceClaimType => identityResourceClaimType.Type))
      .Sortable(sort => sort.AllowUnsort(false))
      .Filterable(filterable => filterable.Mode(GridFilterMode.Menu))
      .Pageable(pageable => pageable.ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Sort(sort => sort.Add(nameof(IdentityClaim.Type)).Ascending())
          .PageSize(5)
          .ServerOperation(false)))
<hr />
<h4>
    <a asp-page="../Index" title="Identity Resources">
        <i class="fal fa-list"></i> List |
    </a>
    <a asp-page="../Edit/ClaimTypes" asp-route-id="@Model.IdentityResource.Id" title="Edit Identity Resource Claim Types">
        <i class="fal fa-edit"></i> Edit
    </a> |
    <a asp-page="../Delete" asp-route-id="@Model.IdentityResource.Id" title="Delete Identity Resource">
        <i class="fal fa-trash"></i> Delete
    </a>
</h4>
<hr />

@section Scripts {
    <script id="claimTypesToolbarTemplate" type="text/x-kendo-template">
        <h4>
            <i class="fal fa-id-card"></i> Claim Types
        </h4>
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
