@page
@using Kendo.Mvc.UI
@model CreateModel

@{
    ViewData["Title"] = "Create Role";
}

<div class="row">
    <div class="col">
        <hr />
        <h2>
            <i class="fal fa-id-badge"></i> @ViewData["Title"]
        </h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Role.Name"></label>
                <input asp-for="Role.Name" class="form-control" required />
                <span asp-validation-for="Role.Name" class="text-danger"></span>
            </div>
            <hr />
            @(Html.Kendo().Grid(Model.Users)
                  .Name("usersGrid")
                  .ToolBar(toolbar => toolbar.ClientTemplateId("usersToolbarTemplate"))
                  .Columns(columns =>
                  {
                      columns.Select().Width(50);
                      columns.Bound(c => c.UserName);
                  })
                  .Sortable(sort => sort.AllowUnsort(false))
                  .Filterable(filterable => filterable.Mode(GridFilterMode.Menu))
                  .Pageable(pageable => pageable.ButtonCount(5))
                  .PersistSelection()
                  .Events(events => events.Change("usersChange"))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model => model.Id(p => p.Id))
                      .Sort(sort => sort.Add(nameof(Oidc.User.UserName)).Ascending())
                      .PageSize(5)
                      .ServerOperation(false))
                  .ClientRowTemplate(
                      @"<tr data-uid='#:uid#' role='row'>" +
                      "<td role='gridcell'>" +
                      "<input class='k-checkbox' data-role='checkbox' type='checkbox' id='cb_#:data.uid#'>" +
                      "<label class='k-checkbox-label k-no-text' for='cb_#:data.uid#'>​</label>" +
                      "</td>" +
                      "<td role='gridcell'>" +
                      "<a href='/users/details/#:data.Id#'>#:data.Email#</a>" +
                      "</td>" +
                      "</tr>"))
            <hr />
            @(Html.Kendo().Grid(new List<RoleClaim>())
                  .Name("claimsGrid")
                  .ToolBar(toolbar => toolbar.ClientTemplateId("claimsToolbarTemplate"))
                  .Editable(editable => editable
                      .Mode(GridEditMode.InCell)
                      .DisplayDeleteConfirmation(false))
                  .Columns(columns =>
                  {
                      columns.Bound(c => c.ClaimType);
                      columns.Bound(c => c.ClaimValue);
                      columns.Command(command => command.Destroy());
                  })
                  .Filterable(filterable => filterable.Mode(GridFilterMode.Menu))
                  .Pageable(pageable => pageable.ButtonCount(5))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Events(events => events.Change("claimsChange"))
                      .PageSize(5)
                      .Batch(true)
                      .ServerOperation(false)))
            <div class="form-group">
                <hr />
                <h4>
                    <button type="submit" title="Create Role" class="btn btn-primary">
                        Create
                    </button> |
                    <a asp-page="./Index" title="Roles">
                        <i class="fal fa-list"></i> List
                    </a>
                </h4>
            </div>
        </form>
        <hr />
    </div>
</div>

@section Scripts {
    <script id="usersToolbarTemplate" type="text/x-kendo-template">
        <h4>
            <i class="fal fa-user"></i> Users
        </h4>
    </script>

    <script id="claimsToolbarTemplate" type="text/x-kendo-template">
        <h4>
            <i class="fal fa-id-card"></i> Claims
            <button class="k-button k-button-icontext k-grid-add float-right">
                <span class="k-icon k-i-plus"></span>Add Claim
            </button>
        </h4>
    </script>

    <script type="text/javascript">
        function usersChange(event) {
            $('input[name^="Role.UserRoles"]').remove();
            $('form').append(event.sender.selectedKeyNames().map((userId, index) => $('<input>', {
                type: 'hidden',
                name: `Role.UserRoles[${index}].UserId`,
                value: userId
            })));
        }

        function claimsChange(event) {
            $('input[name^="Role.RoleClaims"]').remove();
            $('form').append(event.sender.data().filter(claim => {
                return claim.ClaimType.length > 0 && claim.ClaimValue.length > 0;
            }).reduce((inputs, claim, index) => {
                inputs.push($('<input>', {
                    type: 'hidden',
                    name: `Role.RoleClaims[${index}].ClaimType`,
                    value: claim.ClaimType
                }));
                inputs.push($('<input>', {
                    type: 'hidden',
                    name: `Role.RoleClaims[${index}].ClaimValue`,
                    value: claim.ClaimValue
                }));
                return inputs;
            }, []));
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
