@page
@using Cef.OIDC.Models
@using Kendo.Mvc.UI
@model CreateModel

@{
    ViewData["Title"] = "Create User";
}

<div class="row">
    <div class="col">
        <hr />
        <h2>
            <i class="fal fa-user"></i> @ViewData["Title"]
        </h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="UserModel.Email"></label>
                        <input asp-for="UserModel.Email" class="form-control" />
                        <span asp-validation-for="UserModel.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                    @(Html.Kendo().Grid(Model.Roles)
                          .Name("rolesGrid")
                          .ToolBar(toolbar => toolbar.ClientTemplate("<h4><i class='fal fa-id-badge'></i> Roles</h4>"))
                          .Columns(columns =>
                          {
                              columns.Select().Width(50);
                              columns.Bound(c => c.Name);
                          })
                          .Sortable(sort => sort.AllowUnsort(false))
                          .Filterable(filterable => filterable.Mode(GridFilterMode.Row))
                          .Pageable(pageable => pageable.ButtonCount(5))
                          .PersistSelection()
                          .Events(ev => ev.Change("onRolesChange"))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .Model(model => model.Id(p => p.Id))
                              .Sort(sort => sort.Add(nameof(Role.Name)).Ascending())
                              .PageSize(5)
                              .ServerOperation(false))
                          .ClientRowTemplate(
                              @"<tr data-uid='#:uid#' role='row'>" +
                              "<td role='gridcell'>" +
                              "<input class='k-checkbox' data-role='checkbox' type='checkbox' id='cb_#:data.uid#'>" +
                              "<label class='k-checkbox-label k-no-text' for='cb_#:data.uid#'>​</label>" +
                              "</td>" +
                              "<td role='gridcell'>" +
                              "<a href='/roles/details/#:data.Id#'>#:data.Name#</a>" +
                              "</td>" +
                              "</tr>"))
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <hr />
                        <h4>
                            <button type="submit" title="Create User" class="btn btn-primary">
                                Create
                            </button> |
                            <a asp-page="./Index" title="Users">
                                <i class="fal fa-list"></i> List
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function onRolesChange(event) {
            $('input[name^="UserModel.UserRoles"]').remove();
            $('form').append(event.sender.selectedKeyNames().map((roleId, index) => $('<input>', {
                type: 'hidden',
                name: `UserModel.UserRoles[${index}].RoleId`,
                value: roleId
            })));
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
